@page "/stocks"
@inherits IndexPage

<MudText Typo="Typo.h3">Stocks</MudText>

<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Color="Color.Info" Size="Size.Large"
  Href="/stocks/create" Class="mt-md-4 mb-4">
  New Stock
</MudButton>

<MudDataGrid Items="@Stocks" Filterable="false" SortMode="@SortMode.Single" Groupable="false">
  <Columns>
    <PropertyColumn Property="x=>x.Exchange" Title="Exchange"/>
    <PropertyColumn Property="x=>x.Ticker" Title="Ticker"/>
    <PropertyColumn Property="x=>x.OpeningValue" Title="Opening Value" />
    <PropertyColumn Property="x=>x.CurrentValue" Title="Current Value"/>
    <PropertyColumn Property="x=>x.Variation" Title="Variation">
       <CellTemplate>
        @if (context is MudBlazor.CellContext<StockViewModel> cellContext)
        {
          var stock = cellContext.Item;
          <span style="color:@(GetColor(stock.Variation))">
              @stock.Variation
          </span>
        }
        </CellTemplate>
    </PropertyColumn>
    <TemplateColumn>
      <CellTemplate>
        <MudStack Row>
          <MudFab 
            Size="Size.Small" 
            Label="Delete" 
            hidden="@HideButtons"
            @onclick="@(()=>DeleteStock(context.Item))"
            StartIcon="@Icons.Material.Filled.Delete" 
            Color="Color.Error" />
        </MudStack>
      </CellTemplate>
    </TemplateColumn>
  </Columns>
</MudDataGrid>